@import "reset.css";
@import "status-bar.css";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome-header {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 5%;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  margin-bottom: 8%;
  width: 50%;
  opacity: 0.4;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form > input {
  width: 60%;
  height: 50px;
}

input {
  cursor: pointer;
  outline: none;
  border: none;
}

input::placeholder {
  font-size: 16px;
}

input[type="text"],
input[type="password"] {
  border-bottom: 1px solid gray;
  padding: 4px;
}

input[type="password"] {
  margin-bottom: 35px;
}

input[type="submit"] {
  border-radius: 5px;
}

input:nth-child(3),
input:nth-child(4) {
  margin-bottom: 15px;
}

form > a {
  margin-top: 10px;
  color: black;
  text-decoration: none;
}
